@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sassoon Infant Std";
  src: url("/fonts/SassoonInfantStd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Sassoon Infant Std", sans-serif;
}
