@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sassoon Infant Std';
  src: url('/fonts/SassoonInfantStd.woff2') format('woff2'), /* update if different format */
       url('/fonts/SassoonInfantStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
